<fieldset class="form-container__form__fieldset">
    <legend class="form-container__form__heading"><h2>Send Confirmations To:</h2></legend>
    <section class="form-container__form__fieldset__section">
        <div class="form-container__form__fieldset__section__field">
            <input class="form-container__form__fieldset__section__field__input" type="text" required ng-model="formData.confirmation1">
        </div>
    </section>
    <section class="form-container__form__fieldset__section">
        <input class="form-container__form__fieldset__section__button" type="button" value="Add Recipient">
    </section>
</fieldset>
<fieldset class="form-container__form__fieldset">
  <section class="form-container__form__fieldset__pagination-controls">
      <a class="form-container__form__fieldset__pagination-controls__link" ui-sref="form.licenses"><input class="form-container__form__fieldset__pagination-controls__link__button" type="button" value="Previous"></a>
      <a class="form-container__form__fieldset__pagination-controls__link" ui-sref="form.finish"><input class="form-container__form__fieldset__pagination-controls__link__button" type="button" value="Continue"></a>
  </section>
</fieldset>
