<fieldset class="form-container__form__fieldset">
  <section class="form-container__form__fieldset__pagination-controls">
      <a class="form-container__form__fieldset__pagination-controls__link" ui-sref="form.confirmations"><input class="form-container__form__fieldset__pagination-controls__link__button" type="button" value="Previous"></a>
  </section>
  <section class="form-container__form__fieldset__section">
      <input class="form-container__form__fieldset__section__button--submit" type="submit" value="Submit Application" name="submitApplication">
  </section>
</fieldset>
