<div class="form-container">
    <section class="form-container__head">
        <div class="form-container__head__img-block">
            <img id="logo" src="public/img/logo.png" />
        </div>
        <div class="form-container__head__title-block">
            <span class="form-container__head__title-block__title">DEALER SIGN UP FORM</span>
        </div>
    </section>
    <form novalidate class="form-container__form" ng-submit="processForm()">
        <div ui-view autoscroll="true"></div>
    </form>
    <section class="form-container__footer">
        <label class="form-container__footer__text">F•A•I•R Holdings</label>
        <label class="form-container__footer__dot">•</label>
        <label class="form-container__footer__text">844-324-7552</label>
        <label class="form-container__footer__dot">•</label>
        <label class="form-container__footer__text">www.fairllc.com</label>
    </section>
</div>
